@font-face {
    font-family: calcFont;
    src: url(../texts/digital-7.ttf);
}

			/**********************************INSERTED FONTS********************/
.mainbackground {
	padding-top:100px;
	background-image: url(http://orig05.deviantart.net/1db6/f/2008/042/9/6/local_texture__three_by_one_by_beyond_oddities.jpg);
	background-attachment: fixed;
}
.map-header {
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: Tahoma;
}
#map {
	height: 800px;
	border: black;
	/*border-radius: 500px;*/
	border-style: solid;
	border-color: gold;
}
.navbar-custom {
	background: linear-gradient(#2C3545, #4D5B78);
	opacity: 0.95;
	color: #070D59;
}

.navbar-brand {
	font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: #F5B22A;
	font-size: 25px;
}

.signupbackground {
	background-image: url(https://patspints.files.wordpress.com/2014/05/hops_closeup.jpg);
	padding-top: 125px;
	padding-bottom: 125px;
}

/*.opacity {
	background-image: url(https://patspints.files.wordpress.com/2014/05/hops_closeup.jpg);
	position: absolute;
	height: 1000px;
	width: 1200px;
	opacity: 0.2; 
	filter: alpha(opacity=20);
}
*/
.jumbotronstyle{
	background-image: url(http://i.imgur.com/A6GBkG9.gif);
	padding-left:20px;
	margin-top:-50px;
	background-attachment:fixed;
	background-size:125%;
	color:white;
	margin-bottom:0px;
	text-shadow: 2px 2px 4px #000000;
	}

.font-padding{
	padding: 72px 108px 65px 72px;
}

#slidevid {
	display:block;
/*	height:initial;
	width:1223px;*/
	text-align:center;
	padding-top: 35px;
}

/*.info-block-background {
	background-color: #F5B22A;
}*/

/*.beerslide {
	color:white;
	margin: 0px 125px 0px 125px;
	box-shadow: 16px 16px 8px 2px rgba(110, 71, 42, 0.2), 4px 7px 22px 0 rgba(0, 0, 0, 0.19);
}
*/
.beerslide-header {
	font-size: 60px;
    text-align: left;
    position: absolute;
    top: -210px;
    text-shadow: 2px 2px 4px #865050;
/*    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;*/
}

.beerslide-font {
	font-size: 25px;
	text-align: left;
	text-shadow: 2px 2px 4px #865050;
/*	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;*/
}

.beerslide-box {
	background-image:url(http://i.imgur.com/A6GBkG9.gif);
	background-size: 125%;
	background-attachment:fixed;
	padding: 560px 0px 100px 0px;
}

.far-left {
    position: relative;
    top: -40px;
    right: -95px;
}

.far-right {
	position: relative;
	bottom: -40px;
	left: 120px;
}
.infobox1 {
	text-align:center;
	padding-top: 10px;
}

.infobox2 {
	text-align:center;
	padding-top: 10px;
	
}

.infobox3 {
	text-align:center;
	padding-top: 10px;
}

.infobox-img-size{
	height:200px;
	width:200px;
	border-radius:100px;
	background-color: white;
}
.infobox-text {
	text-align: left;
	color:white;
}
.slideshow {
	background-image: url(http://www.texturex.com/albums/Metal-Textures/light%20brushed%20metal%20texture%20silver%20platinum%20stock%20wallpaper.jpg);
	word-wrap: break-word;

}
.toprecipeheader {
	text-align: center;
	color:white;
}
.topimage {
	display:inline-block;
}
.profileimage {
	border-radius:100px;
	margin-top:5px;
}

.modalText {
	height: 200px;
	width:555px;
}
.brewboxtitle {
	padding-bottom:15px;
	padding-left: 18px;
	opacity: .75;
	text-align:center;
	color:white;
}
.brewbox {
	padding-left:2px;
}
.minpadding {
	padding-right:2px;
	padding-top: 58px;
}
.thumbnail {
	min-height: 430px;
}
.userboximage {
	border-radius: 50px;
}

.search-background {
	position: absolute;
	top: 38px;
	right: 35px;
	background-color: #F0F0F0;
	border-color: #7F7E7F;
	border-style: ridge;
	display: inline-block;
	text-align:center;
	height: 500px;
	width: 250px;
	margin:2px;
}

/*.library-search {
}*/
.beerlibrary {/*
	background-image: url(http://media.philly.com/images/boulevard3.jpg);*/
	background-color: #F0F0F0;
	border-color: #7F7E7F;
	border-style: outset;
	display: inline-block;
	text-align:center;
	height: 250px;
	width: 250px;
	margin:2px;
}
.fontfit {
	font-size:16px;
	word-wrap: break-word;
	color:black;
	text-shadow: 2px 2px 4px #865050;
	margin-top:3px;
}

.beerNameLib {
	border-bottom: solid;
	border-width: thin;
}
.bLibraryText {
	color:black;
	text-shadow: 2px 2px 4px #865050;
	padding-top: 20px;
	font-size: 20px;
}
.pagepadding {
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.abvcalc {
	background-color: #F0F0F0;
	border-color: #7F7E7F;
	border-style: ridge;
    padding-bottom: 2px;
    box-shadow: 0 30px 10px 0 rgba(110, 71, 42, 0.2), 0 38px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
}

.brew-res {
	background-color: #F0F0F0;
	border-color: #7F7E7F;
	border-style: ridge;
    padding-bottom: 10px;
    box-shadow: 0 30px 10px 0 rgba(110, 71, 42, 0.2), 0 38px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
}

.calc-result {
	position: relative;
    bottom: -2px;
    left: -17px;
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-header {
	text-align: center;
    color:black;
}

.formlabel {
	padding:5px 0px 0px 5px;
}

.forminput {
	color:black;
	margin: -3px 0px 10px 9px;
}

.input-adjust {
	margin-left:10px;
}

.makeyourown-form {
	background-color: #F0F0F0;
	border-color: #7F7E7F;
	border-style: ridge;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 30px 10px 0 rgba(110, 71, 42, 0.2), 0 38px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-font {
	padding-left:10px;
}

.form-style {
	color: black;
	text-shadow: 2px 2px 4px white;
	font-size: 20px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.input-style {
	border-style:none;
	border-bottom: solid;
	border-width: thin;
	background: none;
	color: black;
	border-color:black;
	border-radius: 0px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;

}

.btn-custom {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background: none;
/*	opacity: .65;*/
	color: black;
	font-weight: bold;
	text-shadow: 2px 2px 2px white;
}

/*.btn-custom-2 {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background: black;
/*	opacity: .65;*/
	color: rgba(192, 192, 192, 0.0);
	font-weight: bold;
}
*/


.signup-form {
	padding:20px;
	margin-bottom:10px;
/*	box-shadow: 16px 16px 8px 2px rgba(110, 71, 42, 0.2), 4px 7px 22px 0 rgba(0, 0, 0, 0.19);
*/	color: white;
}
.signup-header{
    font-size:60px;
	text-align:center;
	color:white;
	padding-right: 150px;
	padding-left: 150px;
	opacity:.80;
}

.login-header{
	position: fixed;
	top: 516px;
    right: 413px;
	font-size:60px;
	text-align:center;
	color:black;
	opacity:.50;
}
.login-form {
	display: inline;
	background-color:#EEEEEE;
	border-radius:20px;
	padding:20px;
	position:fixed;
	top:610px;
	right:335px;
/*	box-shadow: 16px 16px 8px 2px rgba(110, 71, 42, 0.2), 4px 7px 22px 0 rgba(0, 0, 0, 0.19);
*/
}

/*.inputstyle {
	background-color: black;
	color: white;
	opacity: .25
}
*/
.center-header {
	text-align:center;
}
.resources-box{
	background-color:white;
/*	margin-left:20px;*/

}
.pb-banner {
	display: inline;
	height:50px;
	text-align: right;
}


#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 10px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0px;
}

.btn-X {
height: 30px;
position: absolute;
right: 0;
top: 10px;
border-radius:1px;
}

.divider {
	border-top: solid;
	border-width: thin;
	margin-top: 15px;
	margin-bottom: 15px;
}
