<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<title>BrewAtlas || Your Home For Brewing Beer</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.js"></script>
	<script type="text/javascript" src="../js/brewAtlas.mainController.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.constructorFactory.js"></script>
	<script type="text/javascript" src="../js/googleapi.js"></script>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-controller="mainController" class="mainbackground">
	<body ng-controller="mainController" class="mainbackground">
	<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">BrewAtlas</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      		</div>
      		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/beerlibrary">Beer Clone Library</a></li>
					<li><a href="/beermap">Beer Map</a></li>
					<li><a href="/brewingtools">Brewing Tools</a></li>
				</ul>
				<div class="navbar-right">
				<form class="navbar-form navbar-left" role="search" ng-submit="findBeer()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Find a beer or brewery" ng-model="beer.name">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav">
					<li><a href="/signup">Login</a></li>
				</ul>
				</div>
			</div>
		</div>
	</nav>
<div>  
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#name" aria-controls="name" role="tab" data-toggle="tab">Name</a></li>
    <li role="presentation"><a href="#state" aria-controls="state" role="tab" data-toggle="tab">State</a></li>
    <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
    <li role="presentation"><a href="#hops" aria-controls="hops" role="tab" data-toggle="tab">Hops</a></li>
    <li role="presentation"><a href="#malt" aria-controls="malt" role="tab" data-toggle="tab">Malt</a></li>
    <li role="presentation"><a href="#abv" aria-controls="abv" role="tab" data-toggle="tab">ABV</a></li>
  </ul>
  <div class="tab-content pagepadding">
	    <div role="tabpanel" class="tab-pane fade librarystyle in active container-fluid" id="name">
	    	<div ng-repeat="name in nameSort" class="beerlibrary col-xs-12 col-sm-4">
	    		<a href="" data-toggle="modal" data-target="#myModal" ng-click="showBeer(name)"><img ng-src="{{name.image}}" width="100" height="125">
	    			<h2 class="bLibraryText">{{name.name}}</h2>
	    		</a>
	    	</div>
		</div>
	    <div role="tabpanel" class="tab-pane fade librarystyle container-fluid" id="state">
	    	<div ng-repeat="state in stateSort" class="beerlibrary col-xs-12 col-sm-4 col-md-4 col-lg-3">
	    		<a href="" data-toggle="modal" data-target="#myModal" ng-click="showBeer(state)"><img ng-src="{{state.image}}" width="100" height="125">
	    			<h2 class="bLibraryText">{{state.city}},{{state.state}}</h2>
	    		</a>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane fade librarystyle container-fluid" id="style">
	    	<div ng-repeat="style in styleSort" class="beerlibrary col-xs-12 col-sm-4 col-md-4 col-lg-3">
	    		<a href="" data-toggle="modal" data-target="#myModal" ng-click="showBeer(style)"><img ng-src="{{style.image}}" width="100" height="125">
	    			<h2 class="bLibraryText">{{style.style}}</h2>
	    		</a>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane fade librarystyle container-fluid" id="hops">
	    	<div ng-repeat="hops in hopsSort" class="beerlibrary col-xs-12 col-sm-4 col-md-4 col-lg-3">
	    		<a href="" data-toggle="modal" data-target="#myModal" ng-click="showBeer(hops)"><img ng-src="{{hops.image}}" width="100" height="125">
	    			<h2 class="fontfit bLibraryText" >{{hops.hops.toString()}}</h2>
	    		</a>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane fade librarystyle container-fluid" id="malt">
	    	<div ng-repeat="malt in maltSort" class="beerlibrary col-xs-12 col-sm-4 col-md-4 col-lg-3">
	    		<a href="" data-toggle="modal" data-target="#myModal" ng-click="showBeer(malt)"><img ng-src="{{malt.image}}" width="100" height="125">
	    			<h2 class="fontfit bLibraryText">{{malt.malt.toString()}}</h2>
	    		</a>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane fade librarystyle container-fluid" id="abv">
	    	<div ng-repeat="abv in abvSort" class="beerlibrary col-xs-12 col-sm-4 col-md-4 col-lg-3">
	    		<a href="" data-toggle="modal" data-target="#myModal" ng-click="showBeer(abv)"><img ng-src="{{abv.image}}" width="100" height="125">
	    			<h2 class="bLibraryText">{{abv.abv}}%</h2>
	    		</a>
	    	</div>
	    </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{displayedBeer.name}} || {{displayedBeer.brewery}} || {{displayedBeer.city}}, {{displayedBeer.state}}</h4>
      </div>
      <div class="modal-body">
        <img ng-src="{{displayedBeer.image}}" width="100" height="125" class="topimage">
			<ul>
				<li>Style: {{displayedBeer.style}}</li>
				<li>Malt Bill: {{displayedBeer.malt.toString()}}</li>
				<li>Hop Bill: {{displayedBeer.hops.toString()}}</li>
				<li>Extra Ingredients: {{displayedBeer.extra}}</li>
				<li>Yeast: {{displayedBeer.yeast}}</li>
				<li>Average ABV: {{displayedBeer.abv}}%</li>
				<li>Overall Rating: {{displayedBeer.rating}} / 5</li>
			</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" ng-click="addBeer(displayedBeer)" ng-hide="hideProAdd">Add To Profile</button>
        <button type="button" class="btn btn-success" disabled="disabled" ng-show="showProDis">Beer In Profile</button>
        <button type="button" class="btn btn-primary" ng-click="addWish(displayedBeer)" ng-hide="hideWishAdd">Add To Wishlist</button>
        <button type="button" class="btn btn-primary" disabled="disabled" ng-show="showWishDis">Beer In Wishlist</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
