<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<title>BrewAtlas || Your Home For Brewing Beer</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.js"></script>
	<script type="text/javascript" src="../js/brewAtlas.mainController.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.constructorFactory.js"></script>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-controller="mainController" class="mainbackground">
	<body ng-controller="mainController" class="mainbackground">
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">BrewAtlas</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      		</div>
      		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/beerlibrary">Beer Clone Library</a></li>
					<li><a href="/beermap">Beer Map</a></li>
					<li><a href="/brewingtools">Brewing Tools</a></li>
				</ul>
				<div class="navbar-right">	
<!-- 				<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Find a beer or brewery">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
				</form> -->
				<ul class="nav navbar-nav">
					<li><a href="/signup" ng-click="checkLogin()" ng-show="noUser">Login / Sign Up</a></li>
					<li><a href="/activeuser" ng-show="yesUser"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/User-icon.png" height="30" width="30"></a>
					<li><a href="/logout" ng-show="yesUser">Log Out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</nav>
			<!-- *************************   ADD CUSTOM BEER FORM   ***************************** -->
<div class="container-fluid col-xs-12 col-sm-6 col-md-4">
	<form class="makeyourown-form" ng-submit="addCustomBeer()">
		<h3 class="center-header">Custom Beer Creator</h3>
		<div class="form-group">
			<label for="inputBeerName">Beer Name<label>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="inputBeerName" ng-model="newCustomBeer.name">
		</div>
		<div class="form-group" id="beerStyle">
			<label for="inputBeerStyle">Beer Style<label>
		</div>
		<div class="form-group">
  			<input type="text" class="form-control" id="inputBeerStyle" ng-model="newCustomBeer.style">
  		</div>
		<div class="form-group" id="beerhops">
			<label for="inputBeerStyle">Hops<label>
		</div>
		<div class="form-group">
  			<input type="text" class="form-control" id="inputBeerHops" ng-model="newCustomBeer.hops">
  		</div>
		<div class="form-group" id="beerMalt">
			<label for="inputBeerStyle">Fermentables<label>
		</div>
		<div class="form-group">
  			<input type="text" class="form-control" id="inputBeerMalts" ng-model="newCustomBeer.malt">
  		</div>
		<div class="form-group">
			<label for="inputExtra">Specialty Ingredients</label>
			<input type="text" class="form-control" id="inputExtra" ng-model="newCustomBeer.special">
		</div>
		<div class="form-group">
			<label for="inputYeast">Yeast Used</label>
			<input type="text" class="form-control" id="inputYeast" ng-model="newCustomBeer.yeast">
		</div>
		<div class="form-group">
			<label for='directions'>Brewing Directions</label>
			<textarea rows="2" cols="20" wrap="hard" class="form-control" ng-model="newCustomBeer.directions"></textarea>
		</div>
		<button type="submit" class="btn btn-success">Add Recipe</button>
	</form>
</div>
<!-- *************************   ABV CALCULATOR    ***************************** -->
	<div class="container-fluid col-xs-12 col-sm-6 col-md-4">
		<form class="abvcalc" cellpadding="2" cellspacing="2">
			<div class="form-group">
				<h3 class="form-header center-header">ABV Calculator</h3>
			</div>
			<div class="form-group">
				<label for="ogtext" class="formlabel">Original Gravity (OG):</label>
				<input type="text" class="form-control input-adjust" id="ogtext" ng-change="calcABV($event)" ng-model="ogtext" value="" maxlength="5" style="width: 100px">
			</div>
			<div class="form-group">
				<label for="fgtext" class="formlabel">Final Gravity (FG):</label>
				<input type="text" class="form-control input-adjust" id="fgtext" ng-change="calcABV($event)" ng-model="fgtext" value="" maxlength="5" style="width: 100px">
			</div>
			<div class="form-group">
				<label class="formlabel">Alcohol By Volume:</label>
			</div>
			<div class="form-group">
				<p class="calc-result">{{abv}}</p>
			</div>
		</form>
	</div>
<!-- Brewing Resources -->
<div class="container-fluid col-xs-12 col-sm-4">
<form class="brew-res" cellpadding="2" cellspacing="2">
	<div class="form-font">
		<h3>Additional Brewing Resources</h3>
	</div>
	<div class="form-font">
		<h4>Brewing Basics</h4>
		<a href="http://www.howtobrew.com/">John Palmer's How To Brew</a>
	</div>
	<div class="form-font">
		<h4>Brewing Supply Website</h4>
		<a href="www.northernbrewer.com">Northern Brewer</a>
	</div>
	<div class="form-font">
		<h4>Hop Information</h4>
		<a href="https://www.hopunion.com/hop-varieties/">Hop Union</a>
	</div>
	<div class="form-font">
		<h4>Barley Information</h4>
		<a href="https://byo.com/resources/grains">Brew Your Own</a>
	</div>
</form>
</div>
