<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<title>BrewAtlas || Your Home For Brewing Beer</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.js"></script>
	<script type="text/javascript" src="../js/brewAtlas.mainController.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.constructorFactory.js"></script>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-controller="mainController" class="mainbackground">
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">BrewAtlas</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      		</div>
      		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/beerlibrary">Beer Clone Library</a></li>
					<li><a href="/beermap">Beer Map</a></li>
					<li><a href="/brewingtools" ng-click="getInfo()">Brewing Tools</a></li>
				</ul>
				<div class="navbar-right">
				<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Find a beer or brewery">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav">
					<li><a href="/signup" ng-click="checkLogin()" ng-show="noUser">Login / Sign Up</a></li>
					<li><a href="/activeuser" ng-show="yesUser"><img src="http://www.mystockstream.com/assets/user-icon-408524379c28189caeecc284de3b7079.png" height="30" width="30"></a>
					<li><a href="/logout" ng-show="yesUser">Log Out</a></li>
				</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="jumbotron jumbotronstyle">
		<div class="font-padding">
			<h1>BrewAtlas</h1>
			<h3>Brew Socially</h3>
			<p>Welcome to BrewAtlas! The difinitive location for an extensive collection of clone recipes from breweries across the US. Feel free to peruse the clone recipes for inspiration, and if you're feeling competetive, sign up and start tracking your brewing progress!</p>
			<p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a></p>
		</div>
	</div>
	<div class="info-block-background">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-md-4 infobox1">
				<img src="http://clipart-finder.com/data/mini/96-globe_BW.png" class="infobox-img-size">
				<h4 class="infobox-text">Explore New Clone Beer Recipes</h4>
				<p class="infobox-text">Not sure what to brew for your next batch? Explore the database and get some inspiration.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 infobox3">
				<img src="http://northwoodtechnology.ie/sites/go2northwoodsite/files/icon-community-400.png" class="infobox-img-size">
				<h4 class="infobox-text">Compete With Friends</h4>
				<p class="infobox-text">Create your profile and start adding the beers you've brewed. All you need to do is upload pictures of your beer in primary ferment and the finished product, and you can add the beer to your profile, earn badges and be the brew master among your friends.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 infobox2">
				<img src="http://image.spreadshirtmedia.com/image-server/v1/designs/12285238,width=200,height=200" class="infobox-img-size">
				<h4 class="infobox-text">Share What You're Brewing</h4>
				<p class="infobox-text">Tell all your friends about how your last brew turned out. Did you bottle condition with something new? Let everyone know how it affected the final product.</p>
			</div>
		</div>
	</div>
	<div id="slideshowCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#slideshowCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#slideshowCarousel" data-slide-to="1"></li>
    		<li data-target="#slideshowCarousel" data-slide-to="2"></li>
    	</ol>
    	<div class="carousel-inner beerslide-box" role="listbox">
    		<div class="item active">
      			<div class="carousel-caption">
						<h3 class="beerslide-header">SHOW OFF YOUR BREWING PROWESS</h3>
						<ul>
							<li class="beerslide-font far-left">Add your own custom beers and share, or challenge, friends with them</li>
							<li class="beerslide-font">Keep track of all the beers you brew and compare them to other users across the WORLD</li>
							<li class="beerslide-font far-right">Make new friends in the brewing community and go head to head in a brew bonanza!</li>
						</ul>
      			</div>
    		</div>
    		<div class="item">
    			<div class="carousel-caption">
						<h3 class="beerslide-header">BREWING TOOLS FOR YOUR EVERY NEED</h3>
						<ul>
							<li class="beerslide-font far-left">Use BreweryDB's wonderful database of styles, hops, and fermentables when creating your custom beer. Less typing is better for all of us.</li>
							<li class="beerslide-font">Want to know the ABV of your beer? We've got a calculator and other tools available for your every need</li>
						</ul>
      			</div>
    		</div>
    		<div class="item">
    			<div class="carousel-caption">
						<h3 class="beerslide-header">EASY TO USE AND NAVIGATE</h3>
						<ul>
							<li class="beerslide-font far-left">Take advantage of the beer map to see where your clone beers are from.</li>
							<li class="beerslide-font">All the info you need to start brewing your next batch is easily accessable through your user profile.</li>
							<li class="beerslide-font far-right">Not looking to brew right away? Browse through the library and save beers to your wishlist for later brewing.</li>
						</ul>
				</div>
    		</div>
    	</div>
    	<a class="left carousel-control" href="#slideshowCarousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   			<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#slideshowCarousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>
	</div>
		<img src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png"class = "pb-banner">
