<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<title>BrewAtlas || Your Home For Brewing Beer</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/brewAtlasApp.js"></script>
	<script type="text/javascript" src="../js/brewAtlas.signupController.js"></script>
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-controller="signupControl" class="signupbackground">
<div ng-hide="seeSignUp">
	<h1 class="signup-header">JOIN THE HOMEBREWING REVOLUTION</h1>
	<form class="container-fluid signup-form col-xs-12 col-sm-4" ng-submit="signup()">
		<div class="form-group">
			<label for="inputUserName">Username</label>
			<input type="text" class="form-control inputstyle" id="inputUserName" ng-model="signupForm.username">
		</div>
		<div class="form-group">
			<label for="inputEmail">Email</label>
			<input type="email" class="form-control inputstyle" id="inputEmail" ng-model="signupForm.email">
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control inputstyle" id="inputPassword" ng-model="signupForm.password">
		</div>
		<button type="submit" class="btn btn-success">Sign Up</button>
	</form>
</div>
 <button ng-hide="seeSignUp" type="button" ng-click="showLogin()" class="btn btn-primary btn-lg change-form-btn">Already A Member? Sign In Here!</button>
 <button ng-show="seeLogin" type="button" ng-click="showSignUp()" class="btn btn-primary btn-lg change-form-btn">Not A Member? Signup!</button>
	<div ng-show="seeLogin">
		<h1 class="signup-header">LOGIN</h1>
		<form class="container-fluid signup-form col-xs-12 col-sm-4" ng-submit="login()">
			<div class="form-group">
				<label for="inputUserName">Username</label>
				<input type="text" class="form-control inputstyle"id="inputUserName" ng-model="loginForm.username">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control inputstyle" id="inputPassword" ng-model="loginForm.password">
			</div>
			<button type="submit" class="btn btn-success">Login</button>
		</form>
	</div>
</body>